@use './utils/vars' as *;
@import './components/navigation';
@import './components/header';
@import './components/order';
@import './components/lorem-ipsum';
@import './components/main-business.scss';
@import './components/team.scss';
@import './components/clients.scss';
@import './components/footer.scss';
@import './components/portfolio.scss';
@import './components/modal.scss';

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: $StandardBlack;
}

.main-nav__links-item:hover,
.main-nav__links-item:focus,
.contact-links__item:hover,
.contact-links__item:focus,
.contact__text:focus,
.contact__text:hover {
    color: $StandardBlue;
}

.main-nav__links-item,
.contact-links__item,
.contact__text,
.our-team-social-icons__item,
.footer-social__icon-item,
.our-clients__list--item {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    transition-property: color, background-color, border-color, fill;
}

.our-team-social-icons__item:hover,
.our-team-social-icons__item:focus,
.footer-social__icon-item:hover,
.footer-social__icon-item:focus {
    fill: $StandardWhite;
    background-color: $StandardBlue;
    border-radius: 50%;
}

.our-clients__list--item:hover {
    border-color: $StandardBlue;
    fill: $StandardBlue;
}
