.container__portolio {
    margin-bottom: 94px;
}

.portfolio-button {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-bottom: 50px;

    &__item {
        font-family: 'Roboto', sans-serif;
        color: $StandardBlack;
        background: $BackgroundGrey;
        border: none;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.63;
        letter-spacing: 0.03em;
        text-align: center;
        cursor: pointer;
        text-decoration: none;
        margin-right: 8px;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 22px;
        padding-right: 22px;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;

        &:hover,
        &:focus {
            color: $StandardWhite;
            background: $StandardBlue;
        }
    }
}

.main-portfolio {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 30px;

    &__border {
        border: 1px solid $PortfolioGrey;

        &:hover,
        &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
        }
    }
}

.main-portfolio__image {
    position: relative;
    overflow: hidden;
}

.main-portfolio__image:hover .main-portfolio__overlay,
.main-portfolio__image:focus .main-portfolio__overlay {
    transform: translateY(0);
}

.main-portfolio__overlay {
    position: absolute;
    top: 0;
    width: 370px;
    height: 298px;
    background-color: $StandardBlue;
    transform: translateY(100%);
    transition: transform 250ms ease;

    &--text {
        color: $StandardWhite;
        padding: 49px 45px 49px 24px;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0.03em;
    }
}

.main-portfolio__label {
    padding-left: 24px;
    padding-top: 20px;
    padding-bottom: 20px;

    &--header {
        font-size: 18px;
        font-weight: 700;
        line-height: 2;
        letter-spacing: 0.06em;
    }

    &--text {
        font-size: 16px;
        line-height: 1.88;
        color: $LightGrey;
        letter-spacing: 0.03em;
    }
}
