$SuperLightGrey: #ececec;
$StandardBlue: #2196f3;
$StandardBlack: #212121;
$LightGrey: #757575;
$LightBlack: #2f303a;
$StandardWhite: #ffffff;
$BackgroundGrey: #f5f4fa;
$PortfolioGrey: #eeeeee;
$LightGrey2: #afb1b8;
