$SuperLightGrey: #ececec;
$StandardBlue: #2196f3;
$StandardBlack: #212121;
$lightgrey: #757575;

// --standard-white: #ffffff;

// --dark-grey: #000000;
// --background-button-color: #f5f4fa;
// --background-black-color: #2f303a;

// --portfolio-grey: #eeeeee;
